/* *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.para{
width: 200px;
text-transform:lowercase;
letter-spacing: 3px;
word-spacing: 4px;
font-family: cursive;
text-transform: capitalize;
padding: 10px;
margin: 10px;
border: 2px solid red;
border-radius: 50px;
}
 #para{
    color: blue;
    margin: 10px;
}
.para2{
color: red;
} 
 
1. Universal slector 
2. element selector 
3 class
4. id
5. inline styles 
6. !important   
#btn{
    color: blue!important;
} */